@import (once) "Vars.less";
@import (once) "Common.less";

html, body, #main {
    position: relative;
    height: 100%;
    width: 100%;
}
html {
    background-color: #272727;
}
* {
    margin: 0;
    padding: 0;
}

#component-entry {
    height: 100%;
    font-size: @mainFont;
    color: white;
    font-family: monospace;

    #component-header {
        display: flex;
        height: 2.5vh;
        flex-flow: row;
        justify-content: center;
        .headerButton {
            display: flex;
            justify-content: center;
            width: 15vw;
            z-index: 100;
        }
    }
    #mid {
        height: 94.5vh;
        width: 99.9%;
        display: flex;
        flex-flow: row;
        overflow-y: clip;
    }
}
