@import (once) "Vars.less";

#inventoryPage {
    #equipmentContainer {
        display: flex;
        flex-flow: column;
        height: 87%;
        max-width: 24rem;
        min-height: 36.7rem;
        background: #191637ba;
        margin: 4px;
        .bagBorder();
        .equipBackground();
    }
}
