@import (once) "Vars.less";

#component-leftmenu {
    display: flex;
    max-width: 270px;
    min-width: 165px;
    flex-flow: column;

    .leftMainButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #8c5c40;
        margin: 6px 35px;
        padding: 5px 20px;
        &.battling {
            outline: 1px solid yellow;
        }
        &:hover {
            cursor: pointer;
            outline: 1px solid white;
        }
        &:active {
            box-shadow: 5px 3px 3px red;
        }
    }

    #skillTree {
        display: flex;
        flex-flow: column;
        .skillTreeRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: teal;
            font-size: @mainFont - 4px;
            margin: 7px 35px 0;
            padding: 2px 20px;
            &.active {
                outline: 2px solid #c7cc1c;
            }
            &:hover {
                cursor: pointer;
                outline: 1px solid white;
            }
            &:active {
                box-shadow: 5px 3px 3px red;
            }
            .skillTreeName { }
            .skillTreeLevel { }
            .skillImage {
                height: 24px;
                &.Alchemy { content:url("skills/alchemy.png"); }
                &.Cooking { content:url("skills/cooking.png"); }
                &.Enchanting { content:url("skills/enchanting.png"); }
                &.Farming { content:url("skills/farming.png"); }
                &.Forestry { content:url("skills/forestry.png"); }
                &.Herbalism { content:url("skills/herbalism.png"); }
                &.Inscription { content:url("skills/inscription.png"); }
                &.Jewelcrafting { content:url("skills/jewelcrafting.png"); }
                &.Mining { content:url("skills/mining.png"); }
                &.Prayer { content:url("skills/prayer.png"); }
                &.Smithing { content:url("skills/smithing.png"); }
                //&.Training { content:url("skills/training3.png"); }

                //&.Skinning { content:url("skills/skinning.png"); }
                //&.Salvaging { content:url("skills/salvaging.png"); }
                //&.Fishing { content:url("skills/fishing.png"); }
                //&.Woodworking { content:url("skills/woodworking.png"); }
                //&.Fletching { content:url("skills/fletching.png"); }
                //&.Tailoring { content:url("skills/tailoring.png"); }
                //&.Leatherworking { content:url("skills/leatherworking.png"); }
            }
        }
    }
}
