@import (once) "Vars.less";

#component-main {
    display: flex;
    position: relative;
    width: 60%;
    height: 100%;
    color: white;
    text-align: center;
    flex: 5;
}

#mainView {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #272727;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    overflow-y: scroll;

    &.Alchemy { background-image: url("bgs/alchemy.jpg"); }
    &.Battle { background-image: url("bgs/battle_bg.jpg"); }
    &.Cooking { background-image: url("bgs/cooking.jpg"); }
    &.Enchanting { background-image: url("bgs/enchanting.jpg"); }
    &.Farming { background-image: url("bgs/farming.jpg"); }
    &.Forestry { background-image: url("bgs/forestry.jpg"); }
    &.Herbalism { background-image: url("bgs/herbalism.jpg"); }
    //&.Home { background-image: url("bgs/main_background.jpg"); }
    &.Inscription { background-image: url("bgs/inscription.jpg"); }
    &.Inventory { background-image: url("bgs/inventory.jpg"); }
    &.Jewelcrafting { background-image: url("bgs/jewelcrafting.jpg"); }
    &.Mining { background-image: url("bgs/mining.jpg"); }
    &.Prayer { background-image: url("bgs/prayer.jpg"); }
    &.Smithing { background-image: url("bgs/smithing.jpg"); }
    //&.Training { background-image: url("bgs/main_background.jpg"); }

    //&.Skinning { background-image: url("bgs/skinning.jpg"); }
    //&.Salvaging { background-image: url("bgs/salvaging.jpg"); }
    //&.Fishing { background-image: url("bgs/fishing.jpg"); }
    //&.Woodworking { background-image: url("bgs/woodworking.jpg"); }
    //&.Fletching { background-image: url("bgs/fletching.jpg"); }
    //&.Tailoring { background-image: url("bgs/tailoring.jpg"); }
    //&.Leatherworking { background-image: url("bgs/leatherworking.jpg"); }
}
